body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

  
header{
    background-color:pink;
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    color: white;
    margin: 0%;
}
  /*modificamos el search*/
.search-form {
	position: relative;
	display: flex;
	align-items: center;
	border: 2px solid #fff;
	border-radius: 1rem;
	background-color: #fff;
	height: 1.5rem;
	overflow: hidden;
}

.search-form input {
	outline: none;
	font-family:'Times New Roman', Times, serif;
	border: none;
	width: 10rem;
	font-size: 1rem;
	padding: 0 1rem;
	color: #777;
	cursor: pointer;
}

.search-form input::-webkit-search-cancel-button {
	appearance: none;
}

.search-form .btn-search {
	border: none;
	background-color: pink;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 1rem;
}

.btn-search i {
	font-size: 1rem;
	color: #fcf9f9;
}
  
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
  
nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15px;
      
}
  /*hover modificar nuestros link de inicio*/
nav ul li a:hover{
    text-decoration: underline;
    color: white;
  
}

/*media para q se adaote a pantallas mas chicas*/
@media (max-width 700px){
    header{
        flex-direction: column ;

    }
    nav{
        padding: 10px 0px;
    }

}

.menu{
    display: flex;
    gap: 2rem;

}

.menu li{
    list-style: none;
}

